.navbar{
    width:100vw;
    height: 8vh;
    background-color: #00032c;
    color:white;
    font-size: 2rem;
    padding:10px;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


    position: relative;
    z-index: 100;


}